<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{{ if .IsHome }}JCast{{ else }}{{ .Title }} | JCast{{ end }}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Params.description | default .Site.Params.description }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Params.description | default .Site.Params.description }}">
    <meta property="og:url" content="{{ .Permalink }}">
    {{ with .Params.thumbnail }}
    <meta property="og:image" content="{{ . | absURL }}">
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

    {{ partial "head.html" . }}
</head>
<body>
<header>
    <div class="container">
        <a href="/" class="logo-link">
            <img src="/images/logo-without-bg.png" alt="JCast logo" class="logo" />
        </a>
        <nav class="nav">
            <a href="/episodes/">Afleveringen</a>
            <a href="/about/">Over ons</a>
        </nav>
    </div>
</header>

<main>
    {{ block "main" . }}{{ end }}
</main>

<footer>
    © {{ now.Year }} JCast
</footer>
</body>
</html>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-XW26YSCBZG"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XW26YSCBZG');
</script>
