{{- $pathParam := .path -}}
{{- $widths := .widths | default (slice 320 640 1024) -}}
{{- if not $pathParam -}}
  {{- dict "found" false | jsonify -}}
{{- else -}}
  {{- $resourcePath := strings.TrimPrefix "/" $pathParam -}}
  {{- $resource := resources.Get $resourcePath -}}

  {{- if not $resource -}}
    {{- dict
      "path" $pathParam
      "url" $pathParam
      "socialURL" ($pathParam | absURL)
      "processable" false
      "found" true
      | jsonify -}}
  {{- else -}}
    {{- $published := resources.Copy $resourcePath $resource -}}
    {{- $extension := lower (path.Ext $resourcePath) -}}
    {{- $processable := in (slice ".jpg" ".jpeg" ".png" ".webp" ".tif" ".tiff" ".bmp") $extension -}}
    {{- $resolved := dict
      "path" $pathParam
      "url" $published.RelPermalink
      "socialURL" ($published.RelPermalink | absURL)
      "processable" $processable
      "found" true
    -}}

    {{- if not $processable -}}
      {{- $resolved | jsonify -}}
    {{- else -}}
      {{- $webpSet := slice -}}
      {{- $jpgSet := slice -}}
      {{- $defaultURL := "" -}}
      {{- $defaultIndex := div (len $widths) 2 -}}

      {{- range $index, $width := $widths -}}
        {{- $webp := $resource.Resize (printf "%dx webp q85" $width) -}}
        {{- $jpg := $resource.Resize (printf "%dx jpg q85" $width) -}}
        {{- $webpSet = $webpSet | append (printf "%s %dw" $webp.RelPermalink $width) -}}
        {{- $jpgSet = $jpgSet | append (printf "%s %dw" $jpg.RelPermalink $width) -}}
        {{- if eq $index $defaultIndex -}}
          {{- $defaultURL = $jpg.RelPermalink -}}
        {{- end -}}
      {{- end -}}

      {{- merge $resolved (dict
        "defaultURL" $defaultURL
        "webpSet" (delimit $webpSet ", ")
        "jpgSet" (delimit $jpgSet ", ")
        "width" (index $widths $defaultIndex)
        "height" (int (math.Round (div (mul (float $resource.Height) (float (index $widths $defaultIndex))) (float $resource.Width))))
      ) | jsonify -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
